.quickcast_container {                  
  margin-inline: auto;
  box-sizing: border-box;
  overflow: hidden;
}


.quickcast_label {
    font-family: var(--roboto_body);
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.page_container.dark_mode .home_container .quickcast_label {
    color: var(--dark_mode_text_1);
}

.quickcast_inner_container {
    min-height: 240px;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    padding-bottom: 2rem;
    gap: 2rem;
    cursor: grab;
    touch-action: pan-x;
    user-select: none;
    position: relative;
    white-space: nowrap;
    will-change: transform;
}

.quickcast_inner_container:active {
    cursor: grabbing;
}

.quickcast_inner_container .card {
    background: var(--prussian_blue_200);
    flex: 0 0 auto;
    width: 104px;
    max-height: 200px;
    will-change: transform;
    /* margin-right: 25px; */
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    align-items: center;
    border-radius: 8px;
    font-family: var(--roboto_body);
    font-weight: 700;
    box-shadow: 2px 8px 4px rgba(255, 255, 255, 0.2),
                -1px 2px 5px 3px rgba(3, 33, 58, .25);

}

.page_container.dark_mode .home_container .quickcast_inner_container .card {
    background: var(--dark_mode_primary_2);
    color: var(--dark_mode_text_2);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4),
                -1px 4px 6px 5px var(--dark_mode_primary);
}

.quick_icon {
    width: 66px;
    height: 66px;
    /* margin-bottom: 20px; */
}

.day_of_week {
    /* margin-bottom: 7px; */

}

.weather_description {
    /* margin-bottom: 7px; */
}

.quick_temp {
    font-family: var(--roboto_digits);
    font-size: 24px;
}

@media screen and (min-width: 400px) {
    /* .quickcast_container {
        inline-size: min(100%, 710px);
    } */
}

@media screen and (min-width: 1000px) {

    .quickcast_label {
        display: none;
    }

    .quickcast_container {
        padding-inline: 0;
    }

    .quickcast_inner_container {
        justify-content: space-between;
        cursor: auto;
        gap: 1rem;
    }

    .quickcast_inner_container .card {
        /* margin-right: 0; */
        min-inline-size: min(100%, 120px);
        max-block-size: max(100%, 250px);
    }
}

@media screen and (min-width: 1760px) {

    .quickcast_container {
        overflow: visible;
    }

    .quickcast_inner_container {
        overflow: visible;
    }
}