.hurricane_center_container {
    display: flex;
    flex-direction: column;
    color: var(--argentinian_blue_500);
    padding: 2rem;
    gap: 4rem;
    font-family: var(--roboto_body);
}


.hurricane_svg_container {
    display: flex;
    gap: 2rem; 
    background: white;
    border-radius: 8px;
    align-items: center;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.hurricane_svg_container svg {
    cursor: pointer;
    fill: var(--argentinian_blue_500);
    transition: fill 0.2s ease-in-out;
}

.hurricane_svg_container svg:hover {
    fill: red;
}

.hurricane {
    
}

.hurricane_details_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "h_name h_svg" "h_category h_svg" "h_date h_svg" "h_wind h_svg";
    gap: 2rem;
    background: white;
    border-radius: 8px;
    padding: 4rem 2rem;
}

.hurricane_name {
    grid-area: h_name;
}

.hurricane_name_identifier {
    font-weight: bold;
}

.hurricane_category {
    grid-area: h_category;
}

.forecast_date {
    grid-area: h_date;
}

.forecast_date_identifier {
    font-weight: bold;
}

.hurricane_wind_info {
    grid-area: h_wind;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.sustained_winds_info {
    font-weight: bold;
}

.gust_info {
    font-weight: bold;
}

.large_hurricane_svg_container {
    position: relative;
    display: grid;
    place-items: center;
    grid-area: h_svg;
}

.large_hurricane_svg_container svg {
    animation: rotateHurricane 30s linear infinite;
}

@keyframes rotateHurricane {
    to {
        transform: rotate(360deg);
    }
}

.hurricane_category_identifier {
    position: absolute;
    font-size: 48px;
    font-weight: bold;
}

.hurricane_center_container:has(.hurricane_svg_container .inactive_container) {
    padding: unset;
}

.inactive_container {
    padding-block: 1rem;
}