.popup_shell {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: popup;
  background: var(--cadet_gray_100);
  width: min(100%, 400px);
  border-radius: 12px;
  justify-self: center;
  /* margin-top: 4rem; */
  overflow: hidden;
  will-change: height, opacity;
  contain: layout paint;
  transform: translateY(50px);
}

.popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  gap: 2rem;
  width: 100%;
  /* padding-block: 4rem; */
}

.popup_container p {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 4rem;
  transition: background 0.3s ease-in-out,
              color 0.3s ease-in-out;
}

.page_container.dark_mode .home_container .popup_container p {
  color: var(--dark_mode_primary);
}

.popup_container p:hover {
  color: var(--anti_flash_white_100);
  background: var(--prussian_blue_200);
}

.page_container.dark_mode .home_container .popup_container p:hover {
  background: var(--dark_mode_primary);
  color: var(--dark_mode_text_2);
}

@media screen and (min-width: 1000px) {
  .popup_shell {
    justify-self: unset;
    transform: translateY(0);
  }
}


