@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import url("https://cdn.jsdelivr.net/npm/@maptiler/sdk@3/dist/maptiler-sdk.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/themes@3/styles.css");

.map_container {
    position: relative;
    grid-area: map;
    margin-top: 8rem;
    min-width: 0;
}

.map_button_container,
.rt-SegmentedControlRoot {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
}

.radar_layer_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    left: 10px;
    justify-content: space-around;
}

.map_button_container div {
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.rt-SegmentedControlRoot {
    margin-bottom: 2rem;
}

.rt-SegmentedControlItem { 
    cursor: pointer;
    background: var(--argentinian_blue_300) !important;
    transition: background 0.2s ease-in-out,
                color 0.2s ease-in-out; 
}

.rt-SegmentedControlItem:hover {
    background: var(--argentinian_blue_500) !important;
    color: var(--cadet_gray_100);
}

.radar_layer_container div {
    background: var(--argentinian_blue_300);
    color: var(--cadet_gray_100);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 0.9;
    border-radius: 8px;
    flex: 1 1 0;
    min-width: 0;
    cursor: pointer;
    margin-top: 2rem;
    transition: background 0.2s ease-in-out;
}

.map_button_container div:hover {
    background: var(--argentinian_blue_500);

}

.radar_layer_container div:hover {
    background: var(--argentinian_blue_500);
}

.map_button_container div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.map_button_container div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.map_title {
    font-weight: 700;
    margin-bottom: 3rem;
    display: block;
}

#map {
    width: 100%;
    border-radius: 8px;
    height: 450px;
    overflow: hidden;
}

#play-pause-bt {
    background: var(--argentinian_blue_300);
    border: none;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.time_slider_container {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 90%;
    bottom: 3.5rem;
    left: 50%;
    /* height: 6rem; */
    transform: translateX(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 4rem;
    border-radius: 12px;
    background: var(--argentinian_blue_500);
    backdrop-filter: blur(6px);
}

.time_label {
    color: var(--cadet_gray_100);
    font-family: var(--roboto_digits);
    font-size: 12px;
    text-wrap: nowrap;
    flex: 1 1 15%;
}

.time_slider {
    flex: 1 1 60%;
}

.rc-slider-mark {
    top: 15px;
    font-family: var(--poppins_titles);
}

.rc-slider-mark-text {
    text-wrap: nowrap;
    font-size: 8px;
}

.rc-slider-mark-text-active {

}

.rc-slider-dot {
    
}

.rc-slider-rail {
    
}

.rc-slider-track {
    
}

.rc-slider-handle {
    scale: 1;
    transition: scale 0.2s ease-in-out;
}

.rc-slider-handle:hover {
    scale: 1.1;
}

.play_button_container {

}

.play_button {
    color: var(--anti_flash_white_100);
    font-size: 3rem;
    flex: 1 1 15%;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.play_button:hover {
    color: var(--argentinian_blue_300);
}

.color_legend_container {
    position: absolute;
    top: 6.4rem;
    left: 1.5rem;
    background: var(--argentinian_blue_500);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.color_legend_title {
    font-family: var(--poppins_titles);
    color: var(--anti_flash_white_300);
}

.color_legend {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 1000px) {
    .map_title {
        display: none;
    }

    .map_container {
        margin-top: unset;
        margin-bottom: 8rem;
        /* justify-self: center; */
        width: 100%;
        padding-inline: 4rem;
        /* transform: translateX(10%); */
    }

    #map {
        height: 600px;
    }

    .color_legend_container {
        top: 1rem;
        left: 5rem;
    }
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    filter: blur(0.5px);
}

.square-1 {
    background: rgba(180, 220, 255, 1);
}

.square-2 {
    background: rgba(100, 180, 255, 1);
}

.square-3 {
    background: rgba(0, 140, 255, 1);
}

.square-4 {
    background: rgba(0, 210, 140, 1);
}

.square-5 {
    background: rgba(255, 230, 0, 1);
}

.square-6 {
    background: rgba(255, 140, 0, 1);
}

.square-7 {
    background: rgba(255, 60, 60, 1);
}

.square-8 {
    background: rgba(200, 0, 200, 1);
}