.recent_locations_container {
    grid-area: recent;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.use_location_button {
    font-family: var(--poppins_titles);
    color: var(--argentinian_blue_500);
}

.location_selection_container {
    position: relative;
    display: flex;
    gap: 2rem;
}

.location_selection_container p {
    scale: 1;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.page_container.dark_mode .location_selection_container p {
    color: var(--dark_mode_text_2);
}

.location_selection_container p:hover {
    scale: 1.1;
}

.recent_locations {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--cadet_gray_100);
    border-radius: 8px;
    padding-block: 2rem;
    transition: background 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.page_container.dark_mode .recent_locations {
    background: var(--dark_mode_primary_2);
    color: var(--dark_mode_text_2);
}

.recent_location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    min-height: 4rem;
    cursor: pointer;
    gap: 4rem;

    padding: 1rem 4rem;
    background: transparent;
    transition: background 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

.page_container.dark_mode .recent_location_name,
.page_container.dark_mode .recent_temp {
    color: var(--cadet_gray_100);
}



.recent_location:hover {
    background: var(--argentinian_blue_500);
    color: var(--cadet_gray_100);
}

.recent_location_name {
    width: 100%;
    font-family: var(--poppins_titles);
    color: var(--argentinian_blue_500);
}

.recent_location:hover .recent_location_name {
    color: var(--cadet_gray_100);
}

.recent_conditions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4rem;
}

.page_container.dark_mode .home_container .recent_location:hover {
    background: var(--cadet_gray_100);
    color: var(--dark_mode_text_1);
}

.recent_icon {
    max-width: 40px;
    max-height: 40px;
}

.recent_temp {
    font-family: var(--roboto_digits);
    color: var(--argentinian_blue_500);
}

.page_container.dark_mode .home_container .recent_location:hover .recent_location_name,
.page_container.dark_mode .home_container .recent_location:hover .recent_temp {
    color: var(--argentinian_blue_500);
}

.recent_location:hover .recent_temp {
    color: var(--cadet_gray_100);
}


.recent_location {

}

.recent_location_name {

}

@media screen and (min-width: 1000px) {
    .recent_locations_container {
        display: none;
    }
}