.recent_locations_container {
    grid-area: recent;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.location_selection_container {
    position: relative;
    display: flex;
    gap: 2rem;
}

.location_selection_container p {
    scale: 1;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.location_selection_container p:hover {
    scale: 1.1;
}

.divider {
    position: relative;
    content: '';
    background: var(--prussian_blue_400);
    width: 1px;
    height: 20px;
}

.recent_locations {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--cadet_gray_100);
    border-radius: 8px;
    padding-block: 2rem;
}

.recent_location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    cursor: pointer;
    gap: 4rem;
    background: transparent;
    transition: background 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

.recent_location:hover {
    background: var(--argentinian_blue_500);
    color: var(--cadet_gray_100);
}

.recent_location {

}

.recent_location_name {

}

@media screen and (min-width: 1000px) {
    .recent_locations_container {
        display: none;
    }
}