.home_description_container {
    grid-area: description;
    /* justify-self: center; */
    min-width: 0;
    min-height: 0;
}

.description_container {
    color: var(--argentinian_blue_500);  
    display: flex;
    flex-direction: column;
    transition: color 0.2s ease-in-out;  
}

.page_container.dark_mode .home_container .description_container {
    color: var(--dark_mode_text_1);
}

.description {
    font-family: var(--poppins_titles);
    font-size: 24px;
    font-weight: 700;
    text-wrap: nowrap;
}

.sub_description {
    font-family: var(--poppins_titles);
    font-size: 24px;
    font-weight: 500;
    text-wrap: nowrap;
}

@media screen and (min-width: 600px) {
    .description_container {
        /* margin-bottom: 2rem; */
    }
    
    .description {
        font-size: 32px;
    }
    
    .sub_description { 
        font-size: 32px;
    }
}

@media screen and (min-width: 1000px) {
    .description_container {
        align-items: unset;
        /* margin-bottom: unset; */
    }

    .description {
        font-size: 28px;
    }

    .sub_description {
        font-size: 28px;
    }
}