.description_container {
    color: var(--argentinian_blue_500);  
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 2rem;
    align-items: center;  /* Mobile alignment is slightly off, this is to fix that */  
}

.description {
    font-family: var(--poppins_titles);
    font-size: 24px;
    font-weight: 700;
    
}

.sub_description {
    font-family: var(--poppins_titles);
    font-size: 24px;
    font-weight: 500;
}

@media screen and (min-width: 600px) {
    .description_container {
        margin-bottom: 2rem;
    }
    
    .description {
        font-size: 32px;
    }
    
    .sub_description { 
        font-size: 32px;
    }
}

@media screen and (min-width: 1000px) {
    .description_container {
        align-items: unset;
        margin-bottom: unset;
    }

    
}